{% extends 'base.html' %}

{% block title %}Контакты | Sensive Blog{% endblock %}

{% block content %}
<section class="mb-30px">
    <div class="container">
        <div class="hero-banner">
            <div class="hero-banner__content text-center">
                <h1>Contact Us</h1>
                <h4>Home - Contact Us</h4>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ html_map|safe }}
            </div>
        </div>
    </div>
</section>
{% endblock %}